#competences {
  padding-bottom: 80px;
  h2 {
    padding: 60px 0;
    text-align: center;
  }

  .card {
    background-color: rgba($color: $bleuGris, $alpha: 0.5);
    margin-bottom: 40px;
    border: solid 1px $gris;
    border-radius: 30px;
    box-shadow: 6px 6px 7px -1px rgba($color: $gris, $alpha: 1);
    height: 320px;
    position: relative;

    .frontend {
      .titre {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 75px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        h3 {
          color: rgba($color: $rouge, $alpha: 0.6);
        }
        img {
          width: 50px;
          opacity: 0.6;
        }
      }

      .descriptif {
        position: absolute;
        top: 27%;
        left: 0;
        right: 0;
        width: 90%;
        margin: 0 auto;
      }

      .logo {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        ul {
          display: flex;
          justify-content: space-around;
          align-items: center;
          height: 150px;
          :nth-child(3) {
            img {
              margin: 13px 0;
            }
          }
          li {
            position: relative;
            list-style: none;
            height: 90px;
            width: 50px;

            img {
              width: 50px;
              opacity: 0.6;
            }
            p {
              position: absolute;
              bottom: 0;
              font-family: "Roboto Mono", monospace;
              font-weight: bold;
              font-size: 10px;
              text-align: center;
            }
          }
        }
      }
    }
    .backend {
      .titre {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 75px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        h3 {
          color: rgba($color: $vert, $alpha: 0.6);
        }
        img {
          width: 50px;
          opacity: 0.6;
        }
      }

      .descriptif {
        position: absolute;
        top: 27%;
        left: 0;
        right: 0;
        width: 90%;
        margin: 0 auto;
      }

      .logo {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        ul {
          display: flex;
          justify-content: space-around;
          align-items: center;
          height: 150px;
          :nth-child(1) {
            img {
              margin: 13px 0;
            }
          }
          li {
            position: relative;
            list-style: none;
            height: 90px;
            width: 50px;

            img {
              width: 50px;
              opacity: 0.6;
            }
            p {
              position: absolute;
              bottom: 0;
              font-family: "Roboto Mono", monospace;
              font-weight: bold;
              font-size: 10px;
              text-align: center;
            }
          }
        }
      }
    }
    .CMS {
      .titre {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 75px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        h3 {
          color: rgba($color: $bleuClair, $alpha: 0.6);
        }
        img {
          width: 50px;
        }
      }

      .descriptif {
        position: absolute;
        top: 27%;
        left: 0;
        right: 0;
        width: 90%;
        margin: 0 auto;
      }

      .logo {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        ul {
          display: flex;
          justify-content: space-around;
          align-items: center;
          height: 150px;
          :nth-child(1) {
            img {
            }
          }
          li {
            position: relative;
            list-style: none;
            height: 90px;
            width: 50px;

            img {
              width: 50px;
              opacity: 0.6;
            }
            p {
              position: absolute;
              bottom: 0;
              font-family: "Roboto Mono", monospace;
              font-weight: bold;
              font-size: 10px;
              text-align: center;
            }
          }
        }
      }
    }
    .webdesign {
      .titre {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 75px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        h3 {
          color: rgba($color: $violet, $alpha: 0.6);
        }
        img {
          width: 50px;
          opacity: 0.6;
        }
      }

      .descriptif {
        position: absolute;
        top: 27%;
        left: 0;
        right: 0;
        width: 90%;
        margin: 0 auto;
      }

      .logo {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        ul {
          display: flex;
          justify-content: space-around;
          align-items: center;
          height: 150px;
          :nth-child(1) {
            img {
            }
          }
          li {
            position: relative;
            list-style: none;
            height: 90px;
            width: 50px;

            img {
              width: 50px;
              opacity: 0.6;
            }
            p {
              position: absolute;
              bottom: 0;
              font-family: "Roboto Mono", monospace;
              font-weight: bold;
              font-size: 10px;
              text-align: center;
            }
          }
        }
      }
    }
    .environnement {
      .titre {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 75px;

        h3 {
          color: rgba($color: $orange, $alpha: 0.6);
        }
        img {
          width: 50px;
          opacity: 0.6;
        }
      }

      p {
        width: 90%;
        margin: 0 auto;
      }

      .details {
        margin-left: 10px;

        .flex {
          display: flex;

          img {
            width: 20px;
            opacity: 0.6;
          }

          p {
            strong {
              font-family: "Roboto Mono", monospace;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 411px) {
  #competences {
    h2 {
    }

    .card {
      .frontend {
        .titre {
          h3 {
          }
          img {
          }
        }

        .descriptif {
          top: 30%;
        }

        .logo {
          ul {
            :nth-child(3) {
              img {
              }
            }
            li {
              img {
              }
              p {
              }
            }
          }
        }
      }
      .backend {
        .titre {
          h3 {
          }
          img {
          }
        }

        .descriptif {
          top: 30%;
        }

        .logo {
          ul {
            :nth-child(1) {
              img {
              }
            }
            li {
              img {
              }
              p {
              }
            }
          }
        }
      }
      .CMS {
        .titre {
          h3 {
          }
          img {
          }
        }

        .descriptif {
          top: 30%;
        }

        .logo {
          ul {
            :nth-child(1) {
              img {
              }
            }
            li {
              img {
              }
              p {
              }
            }
          }
        }
      }
      .webdesign {
        .titre {
          h3 {
          }
          img {
          }
        }

        .descriptif {
          top: 30%;
        }

        .logo {
          ul {
            :nth-child(1) {
              img {
              }
            }
            li {
              img {
              }
              p {
              }
            }
          }
        }
      }
      .environnement {
        .titre {
          h3 {
          }
          img {
          }
        }

        p {
        }

        .details {
          .flex {
            display: flex;
            margin-bottom: 10px;
          }
          img {
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #competences {
    h2 {
    }

    .card {
      .frontend {
        .titre {
          h3 {
          }
          img {
          }
        }

        .descriptif {
          top: 30%;
        }

        .logo {
          ul {
            :nth-child(3) {
              img {
              }
            }
            li {
              img {
              }
              p {
              }
            }
          }
        }
      }
      .backend {
        .titre {
          h3 {
          }
          img {
          }
        }

        .descriptif {
        }

        .logo {
          ul {
            :nth-child(1) {
              img {
              }
            }
            li {
              img {
              }
              p {
              }
            }
          }
        }
      }
      .CMS {
        .titre {
          h3 {
          }
          img {
          }
        }

        .descriptif {
        }

        .logo {
          ul {
            :nth-child(1) {
              img {
              }
            }
            li {
              img {
              }
              p {
              }
            }
          }
        }
      }
      .webdesign {
        .titre {
          h3 {
          }
          img {
          }
        }

        .descriptif {
        }

        .logo {
          ul {
            :nth-child(1) {
              img {
              }
            }
            li {
              img {
              }
              p {
              }
            }
          }
        }
      }
      .environnement {
        .titre {
          h3 {
          }
          img {
          }
        }

        p {
        }

        .details {
          margin-top: 20px;
          .flex {
          }
          img {
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  #competences {
    padding-bottom: 100px;
    h2 {
      padding: 100px 0;
      text-align: unset;
    }

    .card {
      .frontend {
        .titre {
          position: relative;
          h3 {
            position: absolute;
            left: 40px;
          }
          img {
            position: absolute;
            right: 90px;
          }
        }

        .descriptif {
          top: 30%;
        }

        .logo {
          ul {
            :nth-child(3) {
              img {
              }
            }
            li {
              img {
              }
              p {
              }
            }
          }
        }
      }
      .backend {
        .titre {
          position: relative;
          h3 {
            position: absolute;
            left: 40px;
          }
          img {
            position: absolute;
            right: 90px;
          }
        }

        .descriptif {
        }

        .logo {
          ul {
            :nth-child(1) {
              img {
              }
            }
            li {
              img {
              }
              p {
              }
            }
          }
        }
      }
      .CMS {
        .titre {
          position: relative;
          h3 {
            position: absolute;
            left: 40px;
          }
          img {
            position: absolute;
            right: 90px;
          }
        }

        .descriptif {
        }

        .logo {
          ul {
            :nth-child(1) {
              img {
              }
            }
            li {
              img {
              }
              p {
              }
            }
          }
        }
      }
      .webdesign {
        .titre {
          position: relative;
          h3 {
            position: absolute;
            left: 40px;
          }
          img {
            position: absolute;
            right: 90px;
          }
        }

        .descriptif {
        }

        .logo {
          ul {
            :nth-child(1) {
              img {
              }
            }
            li {
              img {
              }
              p {
              }
            }
          }
        }
      }
      .environnement {
        .titre {
          position: relative;
          h3 {
            position: absolute;
            left: 40px;
          }
          img {
            position: absolute;
            right: 90px;
          }
        }

        p {
        }

        .details {
          margin-top: 20px;
          .flex {
          }
          img {
          }
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  #competences {
    h2 {
    }

    .card {
      height: 431px;
      .frontend {
        .titre {
          top: 20px;
          h3 {
            left: 142px;
          }
          img {
            width: 104px;
          }
        }

        .descriptif {
          left: 142px;
        }

        .logo {
          bottom: 100px;
          ul {
            :nth-child(3) {
              img {
              }
            }
            li {
              img {
                width: 122px;
              }
              p {
                bottom: -100px;
                font-size: 21px;
                width: 122px;
              }
            }
          }
        }
      }
      .backend {
        .titre {
          top: 20px;
          h3 {
            left: 142px;
          }
          img {
            width: 104px;
          }
        }

        .descriptif {
          left: 142px;
        }

        .logo {
          bottom: 100px;

          ul {
            :nth-child(1) {
              img {
              }
            }
            li {
              img {
                width: 122px;
              }
              p {
                bottom: -100px;
                font-size: 21px;
                width: 122px;
              }
            }
          }
        }
      }
      .CMS {
        .titre {
          top: 20px;
          h3 {
            left: 142px;
          }
          img {
            width: 104px;
          }
        }

        .descriptif {
          left: 142px;
        }

        .logo {
          bottom: 100px;

          ul {
            :nth-child(1) {
              img {
              }
            }
            li {
              img {
                width: 122px;
              }
              p {
                bottom: -100px;
                font-size: 21px;
                width: 122px;
              }
            }
          }
        }
      }
      .webdesign {
        .titre {
          top: 20px;
          h3 {
            left: 142px;
          }
          img {
            width: 104px;
          }
        }

        .descriptif {
          left: 142px;
        }

        .logo {
          bottom: 100px;

          ul {
            :nth-child(1) {
              img {
              }
            }
            li {
              img {
                width: 122px;
              }
              p {
                bottom: -100px;
                font-size: 21px;
                width: 122px;
              }
            }
          }
        }
      }
      .environnement {
        .titre {
          top: 20px;
          h3 {
            left: 142px;
          }
          img {
            width: 104px;
          }
        }

        p {
          margin: 10px auto;
        }

        .details {
          margin-left: 142px;
          .flex {
          }
          img {
          }
        }
      }
    }
  }
}
