#contact {
  padding-bottom: 80px;
  background-color: rgba($color: $bleuGris, $alpha: 0.5);
  h2 {
    padding: 60px 0;
    text-align: center;
  }

  p {
    text-align: center;
    margin-bottom: 45px;
    strong {
      font-family: "Roboto Mono", monospace;
    }
  }

  .card {
    margin-bottom: 40px;
    border: solid 1px $gris;
    border-radius: 30px;
    box-shadow: 6px 6px 7px -1px rgba($color: $gris, $alpha: 1);
    background-color: white;
    height: 110px;

    .tel {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 110px;
      img {
        width: 50px;
      }

      p {
        margin-bottom: 0;
        font-weight: bold;
        font-size: 27px;
      }
    }
    .mail {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 110px;
      img {
        width: 50px;
      }

      p {
        margin-bottom: 0;
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
}

@media (min-width: 600px) {
  #contact {
    h2 {
    }

    p {
      strong {
      }
    }
    .flex {
      display: flex;
      justify-content: space-around;
      .card {
        width: 40%;
        .tel {
          img {
          }

          p {
          }
        }
        .mail {
          img {
          }

          p {
          }
        }
      }
    }
  }
}

@media (min-width: 1600px) {
  #contact {
    h2 {
    }

    p {
      strong {
      }
    }
    .flex {
      display: flex;
      justify-content: space-around;
      .card {
        width: 40%;
        height: 205px;
        .tel {
          height: 205px;
          img {
          }

          p {
            font-size: 41px;
          }
        }
        .mail {
          height: 205px;
          img {
          }

          p {
            font-size: 27px;
          }
        }
      }
    }
  }
}
