header {
  background: no-repeat url(../assets/fond.png);
  height: 575px;
  width: auto;
  position: relative;

  .titre {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    img {
      display: none;
    }
  }
}

@media (min-width: 360px) {
  header {
    background: no-repeat url(../assets/fond.png);
    height: 640px;
    width: auto;

    .titre {
    }
  }
}

@media (min-width: 411px) {
  header {
    background: no-repeat url(../assets/fond.png);
    height: 736px;
    width: auto;

    .titre {
    }
  }
}
@media (min-width: 600px) {
  header {
    background: no-repeat url(../assets/fond.png);
    height: 816px;
    width: auto;

    .titre {
    }
  }
}
@media (min-width: 768px) {
  header {
    background: no-repeat url(../assets/fond.png);
    height: 1024px;
    width: auto;

    .titre {
    }
  }
}
@media (min-width: 834px) {
  header {
    background: no-repeat url(../assets/fond.png);
    height: 932px;
    width: auto;

    .titre {
    }
  }
}
@media (min-width: 960px) {
  header {
    background: no-repeat url(../assets/fond.png);
    height: 600px;
    width: auto;

    .titre {
    }
  }
}

@media (min-width: 1024px) {
  header {
    background: no-repeat url(../assets/fond.png);
    height: 1088px;
    width: auto;
  }
  .titre {
    a {
      display: block;
      width: 50px;
      height: 50px;
      margin: 50px auto;
      background-image: url(../assets/arrow-alt-circle-down-regular.svg);
      animation: pulse 3s infinite ease-in-out;
      animation-name: bounce;
      transform-origin: center bottom;

      @keyframes bounce {
        0%,
        20%,
        53%,
        to {
          -webkit-animation-timing-function: cubic-bezier(
            0.215,
            0.61,
            0.355,
            1
          );
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          -webkit-transform: translateZ(0);
          transform: translateZ(0);
        }
        40%,
        43% {
          -webkit-animation-timing-function: cubic-bezier(
            0.755,
            0.05,
            0.855,
            0.06
          );
          animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
          -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
          transform: translate3d(0, -30px, 0) scaleY(1.1);
        }
        70% {
          -webkit-animation-timing-function: cubic-bezier(
            0.755,
            0.05,
            0.855,
            0.06
          );
          animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
          -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
          transform: translate3d(0, -15px, 0) scaleY(1.05);
        }
        80% {
          -webkit-transition-timing-function: cubic-bezier(
            0.215,
            0.61,
            0.355,
            1
          );
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          -webkit-transform: translateZ(0) scaleY(0.95);
          transform: translateZ(0) scaleY(0.95);
        }
        90% {
          -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
          transform: translate3d(0, -4px, 0) scaleY(1.02);
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  header {
    .titre {
      top: 40%;
      left: 470px;
    }
  }
}
@media (min-width: 1920px) {
  header {
    .titre {
      top: 40%;
      left: 630px;
    }
  }
}
