#parcours {
  padding-bottom: 80px;
  background-color: rgba($color: $bleuGris, $alpha: 0.5);
  h2 {
    padding: 60px 0;
    text-align: center;
  }

  .date {
    text-align: center;
  }

  .card_diplome {
    height: 220px;
    margin: 40px auto;
    border: solid 1px $gris;
    border-radius: 30px;
    box-shadow: 6px 6px 7px -1px rgba($color: $gris, $alpha: 1);
    background-color: white;
    .titre {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 75px;
      h3 {
        color: rgba($color: $jaune, $alpha: 0.6);
      }
      img {
        width: 30px;
        opacity: 0.6;
        margin: 0 10px;
      }
    }

    p {
      width: 90%;
      margin: 0 0 10px 50px;
    }

    .detail {
      ul {
        margin-left: 30px;
      }
    }
  }
}
