* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 60px;
  color: $gris;
}

h2 {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 51px;
  color: $gris;
}

h3 {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 51px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  color: $gris;
}

a {
  text-decoration: none;
}

.center {
  width: 95%;
  margin: 0 auto;
}
