* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: $gris;
}

h2 {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 21px;
  color: $gris;
}

h3 {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 21px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: $gris;
}

a {
  text-decoration: none;
}

.center {
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  h1 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: $gris;
  }

  h2 {
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    font-size: 51px;
    color: $gris;
  }

  h3 {
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    font-size: 51px;
  }

  p {
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    color: $gris;
  }

  .center {
    width: 85%;
  }
}

@media (min-width: 1280px) {
  h1 {
  }

  h2 {
  }

  h3 {
  }

  p {
  }

  .center {
    width: 1121px;
  }
}
