@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #656f73;
}

h2 {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 21px;
  color: #656f73;
}

h3 {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 21px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #656f73;
}

a {
  text-decoration: none;
}

.center {
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  h1 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #656f73;
  }
  h2 {
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    font-size: 51px;
    color: #656f73;
  }
  h3 {
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    font-size: 51px;
  }
  p {
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    color: #656f73;
  }
  .center {
    width: 85%;
  }
}

@media (min-width: 1280px) {
  .center {
    width: 1121px;
  }
}

.cv {
  position: relative;
  height: 100%;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.3s;
  /* IE 9 */
  -webkit-transform: translatex(0);
  /* Safari */
  transform: translatex(0);
}

.with--sidebar {
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.site_cache {
  display: none;
}

.with--sidebar .site_cache {
  display: block;
  position: fixed;
  z-index: 50;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%;
}

.with--sidebar .cv {
  -webkit-transform: translatex(-320px);
  transform: translatex(-320px);
}

#close {
  width: 35px;
}

.toggle {
  display: block;
  position: fixed;
  right: 20px;
  top: 10px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  z-index: 9999;
}

.with--sidebar #navmobile {
  display: block;
  left: 0;
  position: fixed;
}

#mobile {
  position: fixed;
  left: 100vw;
  top: 0;
  z-index: 99999;
  background-color: #656f73;
  width: 100vw;
  height: 100vh;
}

#mobile .clearfix {
  width: 270px;
}

#mobile ul {
  padding: 0;
  list-style: none outside;
  text-align: left;
}

#mobile ul :nth-child(1) img {
  position: absolute;
  right: 30px;
  width: 35px;
}

#mobile ul :nth-child(2) img {
  width: 35px;
  margin-top: 120px;
  position: unset;
}

#mobile ul li {
  text-align: center;
  list-style: none;
  margin-top: 20px;
}

#mobile ul li a {
  color: white;
  font-family: "Exo 2", sans-serif;
  font-size: 20px;
}

#desktop {
  display: none;
}

@media (min-width: 360px) {
  .with--sidebar .cv {
    -webkit-transform: translatex(-360px);
    transform: translatex(-360px);
  }
  #mobile {
    right: -360px;
  }
}

@media (min-width: 375px) {
  .with--sidebar .cv {
    -webkit-transform: translatex(-375px);
    transform: translatex(-375px);
  }
  #mobile {
    right: -375px;
  }
}

@media (min-width: 411px) {
  .with--sidebar .cv {
    -webkit-transform: translatex(-411px);
    transform: translatex(-411px);
  }
  #mobile {
    right: -411px;
  }
}

@media (min-width: 414px) {
  .with--sidebar .cv {
    -webkit-transform: translatex(-414px);
    transform: translatex(-414px);
  }
  #mobile {
    right: -414px;
  }
}

@media (min-width: 600px) {
  .with--sidebar .cv {
    -webkit-transform: translatex(-600px);
    transform: translatex(-600px);
  }
  #mobile {
    right: -600px;
  }
}

@media (min-width: 768px) {
  .with--sidebar .cv {
    -webkit-transform: translatex(-768px);
    transform: translatex(-768px);
  }
  #mobile {
    right: -768px;
  }
}

@media (min-width: 834px) {
  .with--sidebar .cv {
    -webkit-transform: translatex(-834px);
    transform: translatex(-834px);
  }
  #mobile {
    right: -834px;
  }
}

@media (min-width: 960px) {
  .with--sidebar .cv {
    -webkit-transform: translatex(-960px);
    transform: translatex(-960px);
  }
  #mobile {
    right: -960px;
  }
}

@media only screen and (min-width: 1024px) {
  #toggle {
    display: none;
  }
  #desktop {
    display: block;
    height: 100px;
    position: relative;
    background-color: rgba(215, 236, 244, 0.5);
  }
  #desktop ul {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: absolute;
    width: 70%;
    right: 60px;
  }
  #desktop ul :nth-child(1) img {
    width: 35px;
  }
  #desktop ul li {
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 21px;
    color: #656f73;
    height: 100px;
    line-height: 100px;
  }
  #desktop ul li:nth-child(1) {
    line-height: 110px;
  }
  #desktop ul li a {
    color: #656f73;
    display: block;
    height: 100px;
    width: 140px;
    text-align: center;
  }
  #desktop ul li a:hover {
    background-color: rgba(255, 114, 42, 0.5);
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  #mobile {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  #desktop ul li a {
    width: 160px;
  }
}

header {
  background: no-repeat url(../assets/fond.png);
  height: 575px;
  width: auto;
  position: relative;
}

header .titre {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

header .titre img {
  display: none;
}

@media (min-width: 360px) {
  header {
    background: no-repeat url(../assets/fond.png);
    height: 640px;
    width: auto;
  }
}

@media (min-width: 411px) {
  header {
    background: no-repeat url(../assets/fond.png);
    height: 736px;
    width: auto;
  }
}

@media (min-width: 600px) {
  header {
    background: no-repeat url(../assets/fond.png);
    height: 816px;
    width: auto;
  }
}

@media (min-width: 768px) {
  header {
    background: no-repeat url(../assets/fond.png);
    height: 1024px;
    width: auto;
  }
}

@media (min-width: 834px) {
  header {
    background: no-repeat url(../assets/fond.png);
    height: 932px;
    width: auto;
  }
}

@media (min-width: 960px) {
  header {
    background: no-repeat url(../assets/fond.png);
    height: 600px;
    width: auto;
  }
}

@media (min-width: 1024px) {
  header {
    background: no-repeat url(../assets/fond.png);
    height: 1088px;
    width: auto;
  }
  .titre a {
    display: block;
    width: 50px;
    height: 50px;
    margin: 50px auto;
    background-image: url(../assets/arrow-alt-circle-down-regular.svg);
    -webkit-animation: pulse 3s infinite ease-in-out;
            animation: pulse 3s infinite ease-in-out;
    -webkit-animation-name: bounce;
            animation-name: bounce;
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
  }
  @-webkit-keyframes bounce {
    0%,
    20%,
    53%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
    }
    40%,
    43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
      transform: translate3d(0, -30px, 0) scaleY(1.1);
    }
    70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
      transform: translate3d(0, -15px, 0) scaleY(1.05);
    }
    80% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translateZ(0) scaleY(0.95);
      transform: translateZ(0) scaleY(0.95);
    }
    90% {
      -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
      transform: translate3d(0, -4px, 0) scaleY(1.02);
    }
  }
  @keyframes bounce {
    0%,
    20%,
    53%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
    }
    40%,
    43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
      transform: translate3d(0, -30px, 0) scaleY(1.1);
    }
    70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
      transform: translate3d(0, -15px, 0) scaleY(1.05);
    }
    80% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translateZ(0) scaleY(0.95);
      transform: translateZ(0) scaleY(0.95);
    }
    90% {
      -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
      transform: translate3d(0, -4px, 0) scaleY(1.02);
    }
  }
}

@media (min-width: 1280px) {
  header .titre {
    top: 40%;
    left: 470px;
  }
}

@media (min-width: 1920px) {
  header .titre {
    top: 40%;
    left: 630px;
  }
}

#a_propos {
  background-color: rgba(215, 236, 244, 0.5);
  padding-bottom: 80px;
}

#a_propos h2 {
  padding: 60px 0;
  text-align: center;
}

#a_propos .a_propos .profil .photo {
  width: 245px;
  margin: 0 auto;
}

#a_propos .a_propos .profil .photo img {
  width: 245px;
}

#a_propos .a_propos .légende {
  margin: 50px 0 40px 0;
  text-align: center;
}

#a_propos .a_propos .légende .bouton {
  margin: 40px 0;
}

#a_propos .a_propos .légende .bouton :hover {
  background-color: rgba(255, 114, 42, 0.5);
  -webkit-transition: 500ms;
  transition: 500ms;
}

#a_propos .a_propos .légende .bouton a {
  display: inline-block;
  width: 220px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #656f73;
  background-color: rgba(11, 123, 179, 0.5);
  margin: 10px auto;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
}

#a_propos .a_propos .description :nth-child(1) {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  #a_propos .a_propos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #a_propos .a_propos .profil {
    width: 50%;
  }
  #a_propos .a_propos .description {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  #a_propos {
    padding-bottom: 100px;
  }
  #a_propos h2 {
    text-align: unset;
    padding: 100px 0;
  }
  #a_propos .a_propos .profil .photo {
    margin: 0;
  }
  #a_propos .a_propos .légende {
    text-align: unset;
  }
  #a_propos .a_propos .légende .bouton {
    display: block;
  }
  #a_propos .a_propos .légende .bouton a {
    width: 190px;
    text-align: center;
  }
  #a_propos .a_propos .description {
    width: 50%;
  }
}

@media (min-width: 1280px) {
  #a_propos .a_propos .légende .bouton a {
    margin-right: 20px;
  }
}

#competences {
  padding-bottom: 80px;
}

#competences h2 {
  padding: 60px 0;
  text-align: center;
}

#competences .card {
  background-color: rgba(215, 236, 244, 0.5);
  margin-bottom: 40px;
  border: solid 1px #656f73;
  border-radius: 30px;
  -webkit-box-shadow: 6px 6px 7px -1px #656f73;
          box-shadow: 6px 6px 7px -1px #656f73;
  height: 320px;
  position: relative;
}

#competences .card .frontend .titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#competences .card .frontend .titre h3 {
  color: rgba(255, 66, 85, 0.6);
}

#competences .card .frontend .titre img {
  width: 50px;
  opacity: 0.6;
  animation-iteration-count: infinite;
  animation-name: wiggle;
  -webkit-animation-name: wiggle;
  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
}

@keyframes wiggle {
  0%,
  100% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
}

@-webkit-keyframes wiggle {
  0%,
  100% {
    -webkit-transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
  }
}

#competences .card .frontend .descriptif {
  position: absolute;
  top: 27%;
  left: 0;
  right: 0;
  width: 90%;
  margin: 0 auto;
}

#competences .card .frontend .logo {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#competences .card .frontend .logo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

#competences .card .frontend .logo ul :nth-child(3) img {
  margin: 13px 0;
}

#competences .card .frontend .logo ul li {
  position: relative;
  list-style: none;
  height: 90px;
  width: 50px;
}

#competences .card .frontend .logo ul li img {
  width: 50px;
  opacity: 0.6;
}

#competences .card .frontend .logo ul li p {
  position: absolute;
  bottom: 0;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
}

#competences .card .backend .titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#competences .card .backend .titre h3 {
  color: rgba(101, 209, 24, 0.6);
}

#competences .card .backend .titre img {
  width: 50px;
  opacity: 0.6;
  animation-iteration-count: infinite;
  animation-name: wiggle;
  -webkit-animation-name: wiggle;
  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
}

@keyframes wiggle {
  0%,
  100% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
}

@-webkit-keyframes wiggle {
  0%,
  100% {
    -webkit-transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
  }
}

#competences .card .backend .descriptif {
  position: absolute;
  top: 27%;
  left: 0;
  right: 0;
  width: 90%;
  margin: 0 auto;
}

#competences .card .backend .logo {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#competences .card .backend .logo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

#competences .card .backend .logo ul :nth-child(1) img {
  margin: 13px 0;
}

#competences .card .backend .logo ul li {
  position: relative;
  list-style: none;
  height: 90px;
  width: 50px;
}

#competences .card .backend .logo ul li img {
  width: 50px;
  opacity: 0.6;
}

#competences .card .backend .logo ul li p {
  position: absolute;
  bottom: 0;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
}

#competences .card .CMS .titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#competences .card .CMS .titre h3 {
  color: rgba(11, 123, 179, 0.6);
}

#competences .card .CMS .titre img {
  width: 50px;
  animation-iteration-count: infinite;
  animation-name: wiggle;
  -webkit-animation-name: wiggle;
  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
}

@keyframes wiggle {
  0%,
  100% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
}

@-webkit-keyframes wiggle {
  0%,
  100% {
    -webkit-transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
  }
}

#competences .card .CMS .descriptif {
  position: absolute;
  top: 27%;
  left: 0;
  right: 0;
  width: 90%;
  margin: 0 auto;
}

#competences .card .CMS .logo {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#competences .card .CMS .logo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

#competences .card .CMS .logo ul li {
  position: relative;
  list-style: none;
  height: 90px;
  width: 50px;
}

#competences .card .CMS .logo ul li img {
  width: 50px;
  opacity: 0.6;
}

#competences .card .CMS .logo ul li p {
  position: absolute;
  bottom: 0;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
}

#competences .card .webdesign .titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#competences .card .webdesign .titre h3 {
  color: rgba(220, 42, 255, 0.6);
}

#competences .card .webdesign .titre img {
  width: 50px;
  opacity: 0.6;
  animation-iteration-count: infinite;
  animation-name: wiggle;
  -webkit-animation-name: wiggle;
  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
}

@keyframes wiggle {
  0%,
  100% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
}

@-webkit-keyframes wiggle {
  0%,
  100% {
    -webkit-transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
  }
}

#competences .card .webdesign .descriptif {
  position: absolute;
  top: 27%;
  left: 0;
  right: 0;
  width: 90%;
  margin: 0 auto;
}

#competences .card .webdesign .logo {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#competences .card .webdesign .logo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

#competences .card .webdesign .logo ul li {
  position: relative;
  list-style: none;
  height: 90px;
  width: 50px;
}

#competences .card .webdesign .logo ul li img {
  width: 50px;
  opacity: 0.6;
}

#competences .card .webdesign .logo ul li p {
  position: absolute;
  bottom: 0;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
}

#competences .card .environnement .titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 75px;
}

#competences .card .environnement .titre h3 {
  color: rgba(255, 160, 41, 0.6);
}

#competences .card .environnement .titre img {
  width: 50px;
  opacity: 0.6;
  animation-iteration-count: infinite;
  animation-name: wiggle;
  -webkit-animation-name: wiggle;
  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
}

@keyframes wiggle {
  0%,
  100% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
}

@-webkit-keyframes wiggle {
  0%,
  100% {
    -webkit-transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
  }
}

#competences .card .environnement p {
  width: 90%;
  margin: 0 auto;
}

#competences .card .environnement .details {
  margin-left: 10px;
}

#competences .card .environnement .details .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#competences .card .environnement .details .flex img {
  width: 20px;
  opacity: 0.6;
}

#competences .card .environnement .details .flex p strong {
  font-family: "Roboto Mono", monospace;
}

@media (min-width: 411px) {
  #competences .card .frontend .descriptif {
    top: 30%;
  }
  #competences .card .backend .descriptif {
    top: 30%;
  }
  #competences .card .CMS .descriptif {
    top: 30%;
  }
  #competences .card .webdesign .descriptif {
    top: 30%;
  }
  #competences .card .environnement .details .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  #competences .card .frontend .descriptif {
    top: 30%;
  }
  #competences .card .environnement .details {
    margin-top: 20px;
  }
}

@media (min-width: 1024px) {
  #competences {
    padding-bottom: 100px;
  }
  #competences h2 {
    padding: 100px 0;
    text-align: unset;
  }
  #competences .card .frontend .titre {
    position: relative;
  }
  #competences .card .frontend .titre h3 {
    position: absolute;
    left: 40px;
  }
  #competences .card .frontend .titre img {
    position: absolute;
    right: 90px;
  }
  #competences .card .frontend .descriptif {
    top: 30%;
  }
  #competences .card .backend .titre {
    position: relative;
  }
  #competences .card .backend .titre h3 {
    position: absolute;
    left: 40px;
  }
  #competences .card .backend .titre img {
    position: absolute;
    right: 90px;
  }
  #competences .card .CMS .titre {
    position: relative;
  }
  #competences .card .CMS .titre h3 {
    position: absolute;
    left: 40px;
  }
  #competences .card .CMS .titre img {
    position: absolute;
    right: 90px;
  }
  #competences .card .webdesign .titre {
    position: relative;
  }
  #competences .card .webdesign .titre h3 {
    position: absolute;
    left: 40px;
  }
  #competences .card .webdesign .titre img {
    position: absolute;
    right: 90px;
  }
  #competences .card .environnement .titre {
    position: relative;
  }
  #competences .card .environnement .titre h3 {
    position: absolute;
    left: 40px;
  }
  #competences .card .environnement .titre img {
    position: absolute;
    right: 90px;
  }
  #competences .card .environnement .details {
    margin-top: 20px;
  }
}

@media (min-width: 1280px) {
  #competences .card {
    height: 431px;
  }
  #competences .card .frontend .titre {
    top: 20px;
  }
  #competences .card .frontend .titre h3 {
    left: 142px;
  }
  #competences .card .frontend .titre img {
    width: 104px;
  }
  #competences .card .frontend .descriptif {
    left: 142px;
  }
  #competences .card .frontend .logo {
    bottom: 100px;
  }
  #competences .card .frontend .logo ul li img {
    width: 122px;
  }
  #competences .card .frontend .logo ul li p {
    bottom: -100px;
    font-size: 21px;
    width: 122px;
  }
  #competences .card .backend .titre {
    top: 20px;
  }
  #competences .card .backend .titre h3 {
    left: 142px;
  }
  #competences .card .backend .titre img {
    width: 104px;
  }
  #competences .card .backend .descriptif {
    left: 142px;
  }
  #competences .card .backend .logo {
    bottom: 100px;
  }
  #competences .card .backend .logo ul li img {
    width: 122px;
  }
  #competences .card .backend .logo ul li p {
    bottom: -100px;
    font-size: 21px;
    width: 122px;
  }
  #competences .card .CMS .titre {
    top: 20px;
  }
  #competences .card .CMS .titre h3 {
    left: 142px;
  }
  #competences .card .CMS .titre img {
    width: 104px;
  }
  #competences .card .CMS .descriptif {
    left: 142px;
  }
  #competences .card .CMS .logo {
    bottom: 100px;
  }
  #competences .card .CMS .logo ul li img {
    width: 122px;
  }
  #competences .card .CMS .logo ul li p {
    bottom: -100px;
    font-size: 21px;
    width: 122px;
  }
  #competences .card .webdesign .titre {
    top: 20px;
  }
  #competences .card .webdesign .titre h3 {
    left: 142px;
  }
  #competences .card .webdesign .titre img {
    width: 104px;
  }
  #competences .card .webdesign .descriptif {
    left: 142px;
  }
  #competences .card .webdesign .logo {
    bottom: 100px;
  }
  #competences .card .webdesign .logo ul li img {
    width: 122px;
  }
  #competences .card .webdesign .logo ul li p {
    bottom: -100px;
    font-size: 21px;
    width: 122px;
  }
  #competences .card .environnement .titre {
    top: 20px;
  }
  #competences .card .environnement .titre h3 {
    left: 142px;
  }
  #competences .card .environnement .titre img {
    width: 104px;
  }
  #competences .card .environnement p {
    margin: 10px auto;
  }
  #competences .card .environnement .details {
    margin-left: 142px;
  }
}

@media (min-width: 1600px) {
  #competences .frontendFull {
    position: relative;
    left: -100px;
  }
  #competences .backendFull {
    position: relative;
    left: 100px;
  }
  #competences .CMSFull {
    position: relative;
    left: -100px;
  }
  #competences .webdesignFull {
    position: relative;
    left: 100px;
  }
  #competences .environnementFull {
    position: relative;
    left: -100px;
  }
}

#parcours {
  padding-bottom: 80px;
  background-color: rgba(215, 236, 244, 0.5);
}

#parcours h2 {
  padding: 60px 0;
  text-align: center;
}

#parcours .date,
#parcours .date_2021,
#parcours .date_2020,
#parcours .date_2011,
#parcours .date_2009,
#parcours .date_2008 {
  text-align: center;
}

#parcours .card_diplomeweb {
  height: 250px;
  margin: 40px auto;
  border: solid 1px #656f73;
  border-radius: 30px;
  -webkit-box-shadow: 6px 6px 7px -1px #656f73;
          box-shadow: 6px 6px 7px -1px #656f73;
  background-color: white;
}

#parcours .card_diplomeweb .titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
}

#parcours .card_diplomeweb .titre h3 {
  color: rgba(250, 213, 47, 0.6);
}

#parcours .card_diplomeweb .titre img {
  width: 30px;
  opacity: 0.6;
  margin: 0 10px;
}

#parcours .card_diplomeweb p {
  width: 90%;
  margin: 0 0 10px 50px;
}

#parcours .card_diplomeweb .detail ul {
  margin-left: 30px;
}

#parcours .card_diplomeweb .detail ul li {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #656f73;
}

#parcours .card_stage {
  height: 350px;
  margin: 40px auto;
  border: solid 1px #656f73;
  border-radius: 30px;
  -webkit-box-shadow: 6px 6px 7px -1px #656f73;
          box-shadow: 6px 6px 7px -1px #656f73;
  background-color: white;
}

#parcours .card_stage .titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
}

#parcours .card_stage .titre h3 {
  color: rgba(255, 66, 85, 0.6);
}

#parcours .card_stage .titre img {
  width: 30px;
  opacity: 0.6;
  margin: 0 10px;
}

#parcours .card_stage p {
  width: 90%;
  margin: 0 0 10px 50px;
}

#parcours .card_stage .detail ul {
  margin-left: 30px;
}

#parcours .card_stage .detail ul li {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #656f73;
}

#parcours .card_formation {
  height: 350px;
  margin: 40px auto;
  border: solid 1px #656f73;
  border-radius: 30px;
  -webkit-box-shadow: 6px 6px 7px -1px #656f73;
          box-shadow: 6px 6px 7px -1px #656f73;
  background-color: white;
}

#parcours .card_formation .titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
}

#parcours .card_formation .titre h3 {
  color: rgba(101, 209, 24, 0.6);
}

#parcours .card_formation .titre img {
  width: 30px;
  opacity: 0.6;
  margin: 0 10px;
}

#parcours .card_formation p {
  width: 90%;
  margin: 0 0 10px 50px;
}

#parcours .card_formation .detail ul {
  margin-left: 30px;
}

#parcours .card_formation .detail ul li {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #656f73;
}

#parcours .card_metier {
  height: 430px;
  margin: 40px auto;
  border: solid 1px #656f73;
  border-radius: 30px;
  -webkit-box-shadow: 6px 6px 7px -1px #656f73;
          box-shadow: 6px 6px 7px -1px #656f73;
  background-color: white;
}

#parcours .card_metier .titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
}

#parcours .card_metier .titre h3 {
  color: rgba(220, 42, 255, 0.6);
}

#parcours .card_metier .titre img {
  width: 30px;
  opacity: 0.6;
  margin: 0 10px;
}

#parcours .card_metier p {
  width: 85%;
  margin: 0 0 10px 50px;
}

#parcours .card_metier .detail ul {
  margin-left: 30px;
}

#parcours .card_metier .detail ul li {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #656f73;
}

#parcours .card_diplome_metier {
  position: relative;
  height: 220px;
  margin: 40px auto;
  border: solid 1px #656f73;
  border-radius: 30px;
  -webkit-box-shadow: 6px 6px 7px -1px #656f73;
          box-shadow: 6px 6px 7px -1px #656f73;
  background-color: white;
}

#parcours .card_diplome_metier .titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 75px;
}

#parcours .card_diplome_metier .titre h3 {
  color: rgba(250, 213, 47, 0.6);
  position: absolute;
  top: 10px;
  left: 50px;
}

#parcours .card_diplome_metier .titre img {
  width: 30px;
  opacity: 0.6;
  margin: 0 10px;
  position: absolute;
  top: 20px;
  left: 0;
}

#parcours .card_diplome_metier p {
  position: absolute;
  bottom: 0;
  width: 90%;
  margin: 0 0 10px 50px;
}

#parcours .card_diplome_metier .detail ul {
  margin-left: 30px;
}

#parcours .card_diplome_metier .detail ul li {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #656f73;
}

#parcours .card_diplome_gea {
  position: relative;
  height: 140px;
  margin: 40px auto;
  border: solid 1px #656f73;
  border-radius: 30px;
  -webkit-box-shadow: 6px 6px 7px -1px #656f73;
          box-shadow: 6px 6px 7px -1px #656f73;
  background-color: white;
}

#parcours .card_diplome_gea .titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 75px;
}

#parcours .card_diplome_gea .titre h3 {
  color: rgba(250, 213, 47, 0.6);
  position: absolute;
  top: 10px;
  left: 50px;
}

#parcours .card_diplome_gea .titre img {
  width: 30px;
  opacity: 0.6;
  margin: 0 10px;
  position: absolute;
  top: 20px;
  left: 0;
}

#parcours .card_diplome_gea p {
  position: absolute;
  bottom: 0;
  width: 90%;
  margin: 0 0 10px 50px;
}

#parcours .card_diplome_gea .detail ul {
  margin-left: 30px;
}

#parcours .card_diplome_gea .detail ul li {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #656f73;
}

@media (min-width: 360px) {
  #parcours .card_diplomeweb {
    height: 220px;
  }
  #parcours .card_metier {
    height: 370px;
  }
  #parcours .card_diplome_metier {
    height: 170px;
  }
}

@media (min-width: 411px) {
  #parcours .card_diplomeweb {
    height: 220px;
  }
  #parcours .card_stage {
    height: 280px;
  }
  #parcours .card_formation {
    height: 300px;
  }
  #parcours .card_metier {
    height: 340px;
  }
  #parcours .card_diplome_metier {
    height: 170px;
  }
}

@media (min-width: 600px) {
  #parcours .card_diplomeweb .detail {
    width: 93%;
    margin: 0 auto;
  }
  #parcours .card_stage .detail {
    width: 93%;
    margin: 0 auto;
  }
  #parcours .card_formation .detail {
    width: 93%;
    margin: 0 auto;
  }
  #parcours .card_metier .detail {
    width: 93%;
    margin: 0 auto;
  }
  #parcours .card_diplome_metier {
    height: 140px;
  }
  #parcours .card_diplome_metier .detail {
    width: 93%;
    margin: 0 auto;
  }
  #parcours .card_diplome_gea {
    height: 110px;
  }
  #parcours .card_diplome_gea .detail {
    width: 93%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  #parcours .card_diplomeweb .detail {
    width: 95%;
    margin: 0 auto;
  }
  #parcours .card_stage .detail {
    width: 95%;
    margin: 0 auto;
  }
  #parcours .card_formation .detail {
    width: 95%;
    margin: 0 auto;
  }
  #parcours .card_metier {
    height: 270px;
  }
  #parcours .card_metier .detail {
    width: 95%;
    margin: 0 auto;
  }
  #parcours .card_diplome_metier {
    height: 110px;
  }
  #parcours .card_diplome_metier .detail {
    width: 95%;
    margin: 0 auto;
  }
  #parcours .card_diplome_gea {
    height: 80px;
  }
  #parcours .card_diplome_gea .detail {
    width: 95%;
    margin: 0 auto;
  }
}

@media (min-width: 960px) {
  #parcours .card_diplomeweb .detail {
    width: 96%;
    margin: 0 auto;
  }
  #parcours .card_stage .detail {
    width: 96%;
    margin: 0 auto;
  }
  #parcours .card_formation .detail {
    width: 96%;
    margin: 0 auto;
  }
  #parcours .card_metier {
    height: 270px;
  }
  #parcours .card_metier .detail {
    width: 96%;
    margin: 0 auto;
  }
  #parcours .card_diplome_metier {
    height: 110px;
  }
  #parcours .card_diplome_metier .detail {
    width: 96%;
    margin: 0 auto;
  }
  #parcours .card_diplome_gea {
    height: 80px;
  }
  #parcours .card_diplome_gea .detail {
    width: 96%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  #parcours {
    padding-bottom: 100px;
  }
  #parcours h2 {
    padding: 100px auto;
  }
  #parcours .card_diplomeweb {
    height: 310px;
  }
  #parcours .card_diplomeweb .titre {
    height: 155px;
  }
  #parcours .card_diplomeweb .detail {
    width: 96%;
    margin: 0 auto;
  }
  #parcours .card_stage .titre {
    height: 105px;
  }
  #parcours .card_stage .detail {
    width: 96%;
    margin: 0 auto;
  }
  #parcours .card_formation .titre {
    height: 105px;
  }
  #parcours .card_formation .detail {
    width: 96%;
    margin: 0 auto;
  }
  #parcours .card_metier {
    height: 270px;
  }
  #parcours .card_metier .titre {
    height: 105px;
  }
  #parcours .card_metier .detail {
    width: 96%;
    margin: 0 auto;
  }
  #parcours .card_diplome_metier {
    height: 330px;
  }
  #parcours .card_diplome_metier .detail {
    width: 96%;
    margin: 0 auto;
  }
  #parcours .card_diplome_gea {
    height: 260px;
  }
  #parcours .card_diplome_gea .detail {
    width: 96%;
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  #parcours {
    padding-bottom: 100px;
  }
  #parcours h2 {
    text-align: unset;
    padding: 100px 0;
  }
  #parcours h2::after {
    -webkit-animation-name: parcours;
            animation-name: parcours;
    -webkit-animation-duration: 8s;
            animation-duration: 8s;
  }
  @-webkit-keyframes parcours {
    0% {
      height: 0;
    }
    16% {
      height: 200px;
    }
    32% {
      height: 680px;
    }
    48% {
      height: 1160px;
    }
    64% {
      height: 1613px;
    }
    80% {
      height: 2013px;
    }
    96% {
      height: 2253px;
    }
    100% {
      height: 2380px;
    }
  }
  @keyframes parcours {
    0% {
      height: 0;
    }
    16% {
      height: 200px;
    }
    32% {
      height: 680px;
    }
    48% {
      height: 1160px;
    }
    64% {
      height: 1613px;
    }
    80% {
      height: 2013px;
    }
    96% {
      height: 2253px;
    }
    100% {
      height: 2380px;
    }
  }
  #parcours .card_diplomeweb {
    height: 431px;
  }
  #parcours .card_diplomeweb .titre {
    height: 145px;
  }
  #parcours .card_diplomeweb .titre h3 {
    width: 940px;
  }
  #parcours .card_diplomeweb .titre img {
    width: 67px;
    margin: 0 40px;
  }
  #parcours .card_diplomeweb p {
    margin: 0 0 10px 149px;
  }
  #parcours .card_diplomeweb .detail {
    margin: 40px 120px;
    width: 86%;
  }
  #parcours .card_diplomeweb .detail ul li {
    margin: 10px auto;
  }
  #parcours .card_stage {
    height: 431px;
  }
  #parcours .card_stage .titre {
    height: 75px;
    margin-top: 30px;
  }
  #parcours .card_stage .titre img {
    width: 67px;
    margin: 0 40px;
  }
  #parcours .card_stage p {
    margin: 0 0 10px 149px;
  }
  #parcours .card_stage .detail {
    margin: 40px 120px;
    width: 86%;
  }
  #parcours .card_stage .detail ul li {
    margin: 10px auto;
  }
  #parcours .card_formation {
    height: 431px;
  }
  #parcours .card_formation .titre {
    height: 75px;
    margin-top: 30px;
  }
  #parcours .card_formation .titre img {
    width: 67px;
    margin: 0 40px;
  }
  #parcours .card_formation p {
    margin: 0 0 10px 149px;
    width: 85%;
  }
  #parcours .card_formation .detail {
    margin: 40px 120px;
    width: 86%;
  }
  #parcours .card_formation .detail ul li {
    margin: 10px auto;
  }
  #parcours .card_metier {
    height: 431px;
  }
  #parcours .card_metier .titre {
    height: 75px;
    margin-top: 30px;
  }
  #parcours .card_metier .titre img {
    width: 67px;
    margin: 0 40px;
  }
  #parcours .card_metier p {
    margin: 0 0 10px 149px;
  }
  #parcours .card_metier .detail {
    margin: 40px 120px;
    width: 86%;
  }
  #parcours .card_metier .detail ul li {
    margin: 10px auto;
  }
  #parcours .card_diplome_metier {
    height: 260px;
  }
  #parcours .card_diplome_metier .titre h3 {
    width: 80%;
    left: 145px;
  }
  #parcours .card_diplome_metier .titre img {
    width: 67px;
    margin: 0 40px;
  }
  #parcours .card_diplome_metier p {
    margin: 0 0 10px 149px;
  }
  #parcours .card_diplome_metier .detail {
    margin: 40px 120px;
    width: 86%;
  }
  #parcours .card_diplome_metier .detail ul li {
    margin: 10px auto;
  }
  #parcours .card_diplome_gea {
    height: 190px;
  }
  #parcours .card_diplome_gea .titre h3 {
    width: 80%;
    left: 145px;
  }
  #parcours .card_diplome_gea .titre img {
    width: 67px;
    margin: 0 40px;
  }
  #parcours .card_diplome_gea p {
    margin: 0 0 10px 149px;
  }
  #parcours .card_diplome_gea .detail {
    margin: 40px 120px;
    width: 86%;
  }
  #parcours .card_diplome_gea .detail ul li {
    margin: 10px auto;
  }
}

@media (min-width: 1600px) {
  #parcours {
    position: relative;
  }
  #parcours h2 {
    text-align: unset;
    padding: 100px 0;
  }
  #parcours h2::after {
    display: block;
    content: "";
    height: 2380px;
    width: 4px;
    background-color: #656f73;
    position: absolute;
    top: 310px;
    left: 185px;
  }
  #parcours .date {
    position: absolute;
    left: 60px;
    top: 18%;
  }
  #parcours .date::after {
    display: block;
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 20px;
    background: #656f73;
    position: absolute;
    top: 3px;
    right: -46px;
  }
  #parcours .card_diplomeweb::before {
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    border-right: 11px solid transparent;
    border-bottom: 19px solid white;
    border-left: 11px solid transparent;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    position: absolute;
    top: 18%;
    left: 210px;
  }
  #parcours .date_2021 {
    position: absolute;
    left: 60px;
    top: 35%;
  }
  #parcours .date_2021::after {
    display: block;
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 20px;
    background: #656f73;
    position: absolute;
    top: 3px;
    right: -46px;
  }
  #parcours .date_2021 p {
    margin-top: -24px;
  }
  #parcours .card_stage::before {
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    border-right: 11px solid transparent;
    border-bottom: 19px solid white;
    border-left: 11px solid transparent;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    position: absolute;
    top: 35%;
    left: 210px;
  }
  #parcours .date_2020 {
    position: absolute;
    left: 60px;
    top: 52%;
  }
  #parcours .date_2020::after {
    display: block;
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 20px;
    background: #656f73;
    position: absolute;
    top: 3px;
    right: -38px;
  }
  #parcours .date_2020 p {
    margin-top: -24px;
  }
  #parcours .card_formation::before {
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    border-right: 11px solid transparent;
    border-bottom: 19px solid white;
    border-left: 11px solid transparent;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    position: absolute;
    top: 52%;
    left: 210px;
  }
  #parcours .date_2011 {
    position: absolute;
    left: 12px;
    top: 68%;
  }
  #parcours .date_2011::after {
    display: block;
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 20px;
    background: #656f73;
    position: absolute;
    top: 3px;
    right: -38px;
  }
  #parcours .date_2011 p {
    margin-top: -24px;
  }
  #parcours .card_metier::before {
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    border-right: 11px solid transparent;
    border-bottom: 19px solid white;
    border-left: 11px solid transparent;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    position: absolute;
    top: 68%;
    left: 210px;
  }
  #parcours .date_2009 {
    position: absolute;
    left: 113px;
    top: 82%;
  }
  #parcours .date_2009::after {
    display: block;
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 20px;
    background: #656f73;
    position: absolute;
    top: 3px;
    right: -38px;
  }
  #parcours .card_diplome_metier::before {
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    border-right: 11px solid transparent;
    border-bottom: 19px solid white;
    border-left: 11px solid transparent;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    position: absolute;
    top: 47%;
    left: -22px;
  }
  #parcours .date_2008 {
    position: absolute;
    left: 113px;
    top: 91%;
  }
  #parcours .date_2008::after {
    display: block;
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 20px;
    background: #656f73;
    position: absolute;
    top: 3px;
    right: -38px;
  }
  #parcours .card_diplome_gea::before {
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    border-right: 11px solid transparent;
    border-bottom: 19px solid white;
    border-left: 11px solid transparent;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    position: absolute;
    top: 42%;
    left: -22px;
  }
}

@media (min-width: 1920px) {
  #parcours h2::after {
    left: 310px;
  }
  #parcours .date {
    position: absolute;
    left: 186px;
    top: 18%;
  }
  #parcours .date::after {
    display: block;
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 20px;
    background: #656f73;
    position: absolute;
    top: 3px;
    right: -46px;
  }
  #parcours .card_diplomeweb::before {
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    border-right: 11px solid transparent;
    border-bottom: 19px solid white;
    border-left: 11px solid transparent;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    position: absolute;
    top: 18%;
    left: 370px;
  }
  #parcours .date_2021 {
    position: absolute;
    left: 186px;
    top: 35%;
  }
  #parcours .date_2021::after {
    display: block;
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 20px;
    background: #656f73;
    position: absolute;
    top: 3px;
    right: -46px;
  }
  #parcours .date_2021 p {
    margin-top: -24px;
  }
  #parcours .card_stage::before {
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    border-right: 11px solid transparent;
    border-bottom: 19px solid white;
    border-left: 11px solid transparent;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    position: absolute;
    top: 35%;
    left: 370px;
  }
  #parcours .date_2020 {
    position: absolute;
    left: 186px;
    top: 52%;
  }
  #parcours .date_2020::after {
    display: block;
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 20px;
    background: #656f73;
    position: absolute;
    top: 3px;
    right: -38px;
  }
  #parcours .date_2020 p {
    margin-top: -24px;
  }
  #parcours .card_formation::before {
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    border-right: 11px solid transparent;
    border-bottom: 19px solid white;
    border-left: 11px solid transparent;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    position: absolute;
    top: 52%;
    left: 370px;
  }
  #parcours .date_2011 {
    position: absolute;
    left: 137px;
    top: 68%;
  }
  #parcours .date_2011::after {
    display: block;
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 20px;
    background: #656f73;
    position: absolute;
    top: 3px;
    right: -38px;
  }
  #parcours .date_2011 p {
    margin-top: -24px;
  }
  #parcours .card_metier::before {
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    border-right: 11px solid transparent;
    border-bottom: 19px solid white;
    border-left: 11px solid transparent;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    position: absolute;
    top: 68%;
    left: 370px;
  }
  #parcours .date_2009 {
    position: absolute;
    left: 238px;
    top: 82%;
  }
  #parcours .date_2009::after {
    display: block;
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 20px;
    background: #656f73;
    position: absolute;
    top: 3px;
    right: -38px;
  }
  #parcours .card_diplome_metier::before {
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    border-right: 11px solid transparent;
    border-bottom: 19px solid white;
    border-left: 11px solid transparent;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    position: absolute;
    top: 47%;
    left: -22px;
  }
  #parcours .date_2008 {
    position: absolute;
    left: 238px;
    top: 91%;
  }
  #parcours .date_2008::after {
    display: block;
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 20px;
    background: #656f73;
    position: absolute;
    top: 3px;
    right: -38px;
  }
  #parcours .card_diplome_gea::before {
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    border-right: 11px solid transparent;
    border-bottom: 19px solid white;
    border-left: 11px solid transparent;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    position: absolute;
    top: 42%;
    left: -22px;
  }
}

#realisations {
  padding-bottom: 80px;
}

#realisations h2 {
  padding: 60px 0;
  text-align: center;
}

#realisations .card {
  position: relative;
  background-color: rgba(215, 236, 244, 0.5);
  margin-bottom: 40px;
  border: solid 1px #656f73;
  border-radius: 30px;
  -webkit-box-shadow: 6px 6px 7px -1px #656f73;
          box-shadow: 6px 6px 7px -1px #656f73;
  display: block;
  overflow: hidden;
  height: 148px;
}

#realisations .card :hover .vitrine {
  opacity: 0.4;
  -webkit-transition: opacity 1000ms;
  transition: opacity 1000ms;
}

#realisations .card :hover .etiquettes {
  opacity: 1;
  -webkit-transition: opacity 1000ms;
  transition: opacity 1000ms;
}

#realisations .card .vitrine {
  position: relative;
}

#realisations .card .vitrine img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 30px;
  width: 100%;
}

#realisations .card .etiquettes {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  width: 420px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#realisations .card .etiquettes p {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  background-color: rgba(255, 66, 85, 0.6);
  border-radius: 15px;
  padding: 10px;
  width: 150px;
  height: 50px;
  text-align: center;
  font-size: 16px;
  margin: 0 30px;
}

@media (min-width: 360px) {
  #realisations .card {
    height: 167px;
  }
}

@media (min-width: 600px) {
  #realisations .card {
    height: 277px;
  }
}

@media (min-width: 768px) {
  #realisations .card {
    height: 353px;
  }
}

@media (min-width: 1280px) {
  #realisations {
    padding-bottom: 100px;
  }
  #realisations h2 {
    padding: 100px 0;
    text-align: unset;
  }
  #realisations .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #realisations .flex .card {
    width: 540px;
    height: 262px;
  }
}

#contact {
  padding-bottom: 80px;
  background-color: rgba(215, 236, 244, 0.5);
}

#contact h2 {
  padding: 60px 0;
  text-align: center;
}

#contact p {
  text-align: center;
  margin-bottom: 45px;
}

#contact p strong {
  font-family: "Roboto Mono", monospace;
}

#contact .card {
  margin-bottom: 40px;
  border: solid 1px #656f73;
  border-radius: 30px;
  -webkit-box-shadow: 6px 6px 7px -1px #656f73;
          box-shadow: 6px 6px 7px -1px #656f73;
  background-color: white;
  height: 110px;
}

#contact .card .tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 110px;
}

#contact .card .tel img {
  width: 50px;
}

#contact .card .tel p {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 27px;
}

#contact .card .mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 110px;
}

#contact .card .mail img {
  width: 50px;
}

#contact .card .mail p {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 18px;
}

@media (min-width: 600px) {
  #contact .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #contact .flex .card {
    width: 40%;
  }
}

@media (min-width: 1600px) {
  #contact .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #contact .flex .card {
    width: 40%;
    height: 205px;
  }
  #contact .flex .card .tel {
    height: 205px;
  }
  #contact .flex .card .tel p {
    font-size: 41px;
  }
  #contact .flex .card .mail {
    height: 205px;
  }
  #contact .flex .card .mail p {
    font-size: 27px;
  }
}

footer {
  background-color: #656f73;
}

footer .rs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .rs img {
  width: 20px;
  margin: 20px 5px;
}

footer p {
  color: white;
  text-align: center;
  font-size: 12px;
}

@media (min-width: 1280px) {
  html {
    scroll-behavior: smooth;
  }
  html #slideUp {
    background-image: url("../assets/arrow-alt-circle-up-regular.svg");
    background-repeat: no-repeat;
    display: block;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 25px;
    z-index: 9999;
    -webkit-transition: all ease-in 1s;
    transition: all ease-in 1s;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    text-decoration: none;
  }
  html #slideUp a {
    display: block;
    width: 50px;
    height: 50px;
  }
  html .cInvisible {
    bottom: -35px;
    opacity: 0;
    -webkit-transition: all ease-in 1s;
    transition: all ease-in 1s;
  }
  html .cVisible {
    bottom: 20px;
    opacity: 0.5;
  }
}
/*# sourceMappingURL=styles.css.map */